<h3 class="text-center display-4">Compétence Professionnelle - <button class="btn btn-primary" (click)="showCompetence()">Mes Compétences</button></h3>
<hr>
<div class="container">
    <table class="table table-dark" *ngIf="competence">
        <thead>
            <tr>
                <th>DOMAINE</th>
                <th>MODULE</th>
                <th>ACQUIS</th>
                <th>NIVEAU</th>
            </tr>
        </thead>

        <app-competence-item [competence]="competence"
        *ngFor="let competence of competence | async"
        style="display: contents;"></app-competence-item>

    </table>
</div>
