<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/mon-cv">Porfolio</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/profils"><span class="fa fa-user couleur"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/formation">Formation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/competence">Compétence</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/experience">Expérience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/blog">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>