img{
    margin-left: -5%;
}

.fond{
    background-color: rgba(1, 15, 1, 0.1);
    //background-color: black;
    //color: white;
    border-radius: 10px/10px;
}
hr{
    background-color: black;
}

.couleur{
    color: black;
}